{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dicttype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dictType.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ dictType.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dicttype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dicttype_edit', { 'id': dictType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
